<!DOCTYPE html>
<html>
<head>
  <title>MicroBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="application.css">
</head>
	<div id="nav-bar">
	<!-- 	<ul>
			<li>About Microglobs</li>
			<li>Log Out</li>
			</ul> -->
	</div>
	<body>

<%= yield %>

	</body>
</html>
